body{
    background-color:#2F303A;
}
.page-header{
    background-color: #FFFFFF;
}
.work{
    background-color: #E5E5E5;
}
.team{
    background-color: #F5F4FA;
}
.title{
    color:#212121;
}
.hero-title{
    color: #FFFFFF;
}
.text{
    color: #757575;
}
.mail{
    color: #2196F3;
}